* {
  box-sizing: border-box;
}

.box {
  position: absolute;
  height: 200px;
  width: 200px;
  border: 5px solid black;
  background-color: blue;
  animation-name: slide;
  animation-duration: 3s;
  animation-direction: ;
}
