* {
  font-family: sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: flex-start;
}

.col-full {
  flex-basis: 100%;
}

.col-one-third {
  flex-basis: 33%;
}

.col-two-thirds {
  flex-basis: 66%;
}

.col-one-fourth {
  flex-basis: 25%;
}

img {
  width: 100%;
}

h2 {
  margin: 0;
}
